.heading{
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  width: 99%;
  margin: 5px; 
  box-shadow: 8px 8px 8px rgb(29, 28, 28);
}
.note 
{
    font-size:15px;
    color:rgb(0, 0, 0);
}
.copy_right_footer{
position: fixed;
color:rgb(252, 208, 235);
bottom: 0px;
width: 100%;
background-color:rgb(0, 0, 0);
line-height: 5;
text-align: center;

}
canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
  }
 